DS_Store

node_modules
.yarn
package-lock.json
yarn.lock

.eslintcache

yarn-error.log
build
coverage
.docusaurus
.cache-loader
types
packages/create-docusaurus/lib/
packages/lqip-loader/lib/
packages/docusaurus/lib/
packages/docusaurus-*/lib/*
packages/eslint-plugin/lib/
packages/stylelint-copyright/lib/node_modules/
