---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/TwoColumnContent.astro';
---

<Default {...Astro.props}>
    <slot />
    <div class="footer_parent">
        asd
    </div> 
</Default>

<style>
    .footer_parent {
        background-color: var(--sl-color-bg-nav);
        1px solid var(--sl-color-hairline-shade);
        padding: 20px;
    }
</style>